@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Regular.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Bold.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Medium.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Light.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-grey-100: #141414;
  --color-grey-200: #292929;
  --color-grey-300: #3d3d3d;
  --color-grey-400: #525252;
  --color-grey-500: #666666;
  --color-grey-600: #858585;
  --color-grey-700: #a3a3a3;
  --color-grey-800: #c2c2c2;
  --color-grey-900: #e0e0e0;

  --color-primary-100: #040509;
  --color-primary-200: #080b12;
  --color-primary-300: #FFFFFF; /*#0c101b*/
  --color-primary-400: #FFFFFF; /*#f2f0f0*/
  --color-primary-500: #FAFAFA;  /*#141b2d*/
  --color-primary-600: #1F2A40;
  --color-primary-700: #727681;
  --color-primary-800: #a1a4ab;
  --color-primary-900: #d0d1d5;

  --color-greenAccent-100: #0f2922;
  --color-greenAccent-200: #1e5245;
  --color-greenAccent-300: #2e7c67;
  --color-greenAccent-400: #3da58a;
  --color-greenAccent-500: #4cceac;
  --color-greenAccent-600: #70d8bd;
  --color-greenAccent-700: #94e2cd;
  --color-greenAccent-800: #b7ebde;
  --color-greenAccent-900: #dbf5ee;

  --color-redAccent-100: #2c100f;
  --color-redAccent-200: #58201e;
  --color-redAccent-300: #832f2c;
  --color-redAccent-400: #af3f3b;
  --color-redAccent-500: #db4f4a;
  --color-redAccent-600: #e2726e;
  --color-redAccent-700: #e99592;
  --color-redAccent-800: #f1b9b7;
  --color-redAccent-900: #f8dcdb;

  --color-blueAccent-100: #151632;
  --color-blueAccent-200: #2a2d64;
  --color-blueAccent-300: #3e4396;
  --color-blueAccent-400: #535ac8;
  --color-blueAccent-500: #6870fa;
  --color-blueAccent-600: #868dfb;
  --color-blueAccent-700: #a4a9fc;
  --color-blueAccent-800: #c3c6fd;
  --color-blueAccent-900: #e1e2fe;
}

.dark {
  --color-grey-100: #e0e0e0;
  --color-grey-200: #c2c2c2;
  --color-grey-300: #a3a3a3;
  --color-grey-400: #858585;
  --color-grey-500: #666666;
  --color-grey-600: #858585;
  --color-grey-700: #3d3d3d;
  --color-grey-800: #292929;
  --color-grey-900: #141414;

  --color-primary-100: #d0d1d5;
  --color-primary-200: #a1a4ab;
  --color-primary-300: #172235;
  --color-primary-400: #1D2739;
  --color-primary-500: #141b2d;
  --color-primary-600: #101624;
  --color-primary-700: #0c101b;
  --color-primary-800: #080b12;
  --color-primary-900: #040509;

  --color-greenAccent-100: #dbf5ee;
  --color-greenAccent-200: #b7ebde;
  --color-greenAccent-300: #94e2cd;
  --color-greenAccent-400: #70d8bd;
  --color-greenAccent-500: #4cceac;
  --color-greenAccent-600: #3da58a;
  --color-greenAccent-700: #2e7c67;
  --color-greenAccent-800: #1e5245;
  --color-greenAccent-900: #0f2922;

  --color-redAccent-100: #f8dcdb;
  --color-redAccent-200: #f1b9b7;
  --color-redAccent-300: #e99592;
  --color-redAccent-400: #e2726e;
  --color-redAccent-500: #db4f4a;
  --color-redAccent-600: #af3f3b;
  --color-redAccent-700: #832f2c;
  --color-redAccent-800: #58201e;
  --color-redAccent-900: #2c100f;

  --color-blueAccent-100: #e1e2fe;
  --color-blueAccent-200: #c3c6fd;
  --color-blueAccent-300: #a4a9fc;
  --color-blueAccent-400: #868dfb;
  --color-blueAccent-500: #6870fa;
  --color-blueAccent-600: #535ac8;
  --color-blueAccent-700: #3e4396;
  --color-blueAccent-800: #2a2d64;
  --color-blueAccent-900: #151632;
}





.main-color{
  background-color: #FAFAFA;

}
.icon-color{
  color: #888888;
}
.text-color{
  color: #000000;
  
}

.c{
  background-color: #F6F6F6;
}
.fw{
  font-weight: 500;
}
.d{
  width: 165px;
  height: 75px;
}

.icon1{
  color: #34B1FF;
  border-radius: 50%;
  border-width: 8px;
  background-color: #E6F3FC;
  border-color: #E6F3FC;
  
}
.icon2{
  color: #9D51FF;
  border-radius: 50%;
  border-width: 8px;
  background-color: #F6EFFF;
  border-color: #F6EFFF;
  
}
.icon3{
  color: #F3E026;
  border-radius: 50%;
  border-width: 8px;
  background-color: #EBDC5A26;
  border-color: #EBDC5A26;
  
}
.icon4{
  color: #3AC344;
  border-radius: 50%;
  border-width: 8px;
  background-color: #E6FCE8;
  border-color: #E6FCE8;
  
}
.assest-icon{
  color: #585858;
  border-radius: 50%;
  border-width: 8px;
 
 background-color: #EDEDED;
 border-color: #EDEDED;
}

.safe{
  background-color: #EDF7EC;
  color: #61C454;

}
.Compromised{
  background-color: #FFEFEF;
  color: #F04D4E;
}