@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Regular.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Bold.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Medium.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Light.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


