@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Regular.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Bold.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Medium.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('/src/assets/fonts/RoobertPRO-Light.woff2') format('woff2'),
      url('/src/assets/fonts/RoobertPRO-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}




.main-color{
  background-color: #FAFAFA;

}
.icon-color{
  color: #888888;
}
.text-color{
  color: #000000;
  
}

.c{
  background-color: #F6F6F6;
}
.fw{
  font-weight: 500;
}
.d{
  width: 165px;
  height: 75px;
}

.icon1{
  color: #34B1FF;
  border-radius: 50%;
  border-width: 8px;
  background-color: #E6F3FC;
  border-color: #E6F3FC;
  
}
.icon2{
  color: #9D51FF;
  border-radius: 50%;
  border-width: 8px;
  background-color: #F6EFFF;
  border-color: #F6EFFF;
  
}
.icon3{
  color: #F3E026;
  border-radius: 50%;
  border-width: 8px;
  background-color: #EBDC5A26;
  border-color: #EBDC5A26;
  
}
.icon4{
  color: #3AC344;
  border-radius: 50%;
  border-width: 8px;
  background-color: #E6FCE8;
  border-color: #E6FCE8;
  
}
.assest-icon{
  color: #585858;
  border-radius: 50%;
  border-width: 8px;
 
 background-color: #EDEDED;
 border-color: #EDEDED;
}

.safe{
  background-color: #EDF7EC;
  color: #61C454;

}
.Compromised{
  background-color: #FFEFEF;
  color: #F04D4E;
}